/* 格式化 */
html, body, p ,span{
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
}
ul, li, a, img {
    list-style: none;
    text-decoration: none;
}

/* 头部固定导航栏 */
#nav-fixed {
    width: 37.5rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1000;
    font-size: 0.8rem;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}
#nav-fixed ul {
    display: flex;
    justify-content: space-between;
    align-items:center; 
}


.search-top, .filter-menu, .filter-tag, .rcmd-hotel, .no-data-msg {
    width: 100%;
    margin:0 auto;

}
/* 酒店搜索框 */
.search-top  {
    margin-left: -1.1rem;
}

.hotel-date-msg {
    background-color: #f5f5f5;
    font-size: 0.8rem;
    border-radius: 0.2rem;   
    min-width: 16%;
    text-align: center;
    margin-left: -1.2rem;

}
.hotel-date-msg span:nth-child(2) {  
    padding-left: 0.5rem;
}


.search-hotel-input {   
    background-color: #f5f5f5;
    border-radius: 0.2rem;
    border: 1px solid #f5f5f5;
    margin-left: 0.5rem;
}
.search-hotel-input div {
    padding: 0.45rem 1rem 0.45rem 0;
    display: flex;
    align-items: center;
    margin-left: 0.5rem; 
}
.search-hotel-input label {
    font-size: 0.8rem;
    position: relative;  
    width: 8%;
}

.search-hotel-input label:after {
    content: "";
    width: 0.05rem;
    height: 0.8rem;
    background-color:#ccc;
    line-height: 1rem;
    position: absolute;
    top: 0.09rem;
    left: 2.2rem;
    
}
.search-hotel-input input {
    outline: none;
    background: none;
    overflow: hidden;
    border: none;
    color: #ccc;
    font-size: 0.8rem;
}
.ico-serch {
    width: 1rem;
    height:1rem;
    background: url(../img/ico-seach.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 1rem;
}
.ico-cancel {
    width: 1rem;
    height: 1rem;
    background: url(../img/ico-cancel.png) no-repeat;
    background-size:100% 100%;
    cursor: pointer;
    margin-left: 12rem;

}
.ico-map {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 0.6rem;
    background: url(../img/ico-map.png) no-repeat;
    background-size: 60% 70%;
    margin-left: 1rem;
    min-width: 2rem;
}
.ico-map span {
    position: relative;
    top: 1.2rem;
    left: -0.05rem;
}

/* 条件筛选 */
.filter-menu {
    margin-top: -1rem;
}
.filter-menu ul {
    font-size: 0.7rem;
    margin-left: -2.6rem;
}
.filter-menu li {

    padding: 1rem;
}

.filter-menu span {
    width: 1.2rem;
    height: 0.5rem;
    background: url(../img/ico-arrow-down.png) no-repeat 0.2rem 0;
    display: inline-block;
    background-size: 50% 100%;
}


/* 地域标签 */
.filter-tag {
    background: #f5f5f5;  
    border-radius: 0.2rem;
    padding: 0 0.8rem 0 0.2rem;
}
.filter-tag ul {
    font-size: 0.7rem;
    margin-left: -2rem;
}

.filter-tag li{
    background: #ffff;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}



/* 酒店详细信息 */
#main-hote-msg {
    width: 37.5rem;
    margin: 0 auto;
    top: 10rem;
    position: relative;
}

.rcmd-hotel {
    margin: 2rem auto;
    background: url(../img/bg-rcmd-hotel.png) no-repeat;
    background-size: 100% 100%;
    border: 1px solid #fff;
}

.rcmd-hotel-title {
    display: flex;
    justify-content: space-between;

}
.rcmd-hotel-title p {
    font-size: 1rem;
    position: relative;
    top: 1rem;
    left: 1rem;
}


/* 酒店信息右侧关闭按钮 */
.rcmd-hotel-title div {
    background: url(../img/icon-close.png) no-repeat;
    background-size: 50% 50%;
    padding: 1.2rem 1.2rem;
    position: relative;
    top: 1rem;
}

.hotel-msg {
    width: 98%;
    background: #fff;
    margin: 1rem auto;
    border-radius: 0.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.hotel-msg div {
    font-size: 0.6rem;
}



.pic-hotel {
    width: 30%;
    margin-left: 0.2rem;
    padding: 0.2rem 0;
    display: flex;
    align-items: center;
}
.pic-hotel img {
    width: 100%;
    border-radius: 0.2rem;
}

.hotel-content {
    margin: 0.5rem 0 0 0.5rem;  
}

/* 酒店评价 */
.review {
    background-color:#f5f5f5;
    border-radius: 0.2rem;
    color: purple;
    overflow: hidden;
    width: 80%;
    padding: 0.2rem 0.5rem 0.2rem 1.8rem;
    position: relative;
    margin: 0.5rem 0;
    
    display:flex;
    align-items: center;
}
.review span {
    width: 0.8rem;
    height: 0.8rem;
    background: url(../img/icon-support.png) no-repeat;
    background-size:cover;
    position: absolute;
    left: 0.4rem;
}

.hotel-content div:nth-child(1) {
    font-size: 0.9rem;
}


/* 酒店价格 */
.hotel-price {
    margin: 4rem 0 0 4rem;
    bottom: 1.6rem;
    color: red;
    font-size: 0.9rem !important;
    display: flex;
    align-items: center;
}
.hotel-price span {
    color: #ccc;
    font-size: 0.6rem;
}




/* 酒店不存在提示信息 */
.no-data-msg {
    text-align: center;
}

.pic-no-data {
    background: url(../img/pic-no-date.png) no-repeat;
    width: 100%;
    background-size: 100% 100%;
    padding: 10rem 0rem;
}

.txt-no-data {
    color: #ccc;
    margin-top: 1rem;
}

.btn-find-hotel {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    width: 10.1rem;
    height: 2.7rem;
    line-height: 2.7rem;
    margin-top: 1rem;
    background: url(../img/bg-btn.png) no-repeat;
    background-size:contain;
    cursor: pointer;
}